<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoxyTreasures</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/customscripts")
</head>
<body>

    <div id="home-header">
        <h1 id="layout-h1">Moxy Treasures</h1>
        <div>
            <div class="topnav" id="myTopnav" style="display:inline-block">
                @Html.ActionLink("Home", "Main", "Home")
                @Html.ActionLink("About", "About", "Home")
                @if (Model.CurrentUser.UserID == 0)
                {
                    @Html.ActionLink("Login", "LogIn", "User")
                    @Html.ActionLink("Sign Up", "SignUp", "User")
                }
                else if (Model.CurrentUser.blnAdmin == true)
                {
                    @Html.ActionLink("Manage Products", "MyProducts", "User")
                    @Html.ActionLink("Manage Categories", "Categories", "User")
                    @Html.ActionLink("Email", "Email", "User")
                    @Html.ActionLink("Data", "Data", "User")
                    @Html.ActionLink("Log Out", "SignOut", "User")
                }
                else
                {
                    @Html.ActionLink("My Cart", "Cart", "User")
                    @Html.ActionLink("Profile", "MyProfile", "User")
                    @Html.ActionLink("Log Out", "SignOut", "User")
                }
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </div>

    <div id="work-space">
        @RenderBody()
    </div>

</body>
</html>
