<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/customscripts")
</head>
<body>
    <div id="home-header">
        <h1 id="layout-h1">Moxy Treasures</h1>
        <div>
            <div class="topnav" id="myTopnav" style="display:inline-block">
                @Html.ActionLink("Home", "Home", "Home")
                @if (Model.UserID == 0)
                {
                    @Html.ActionLink("Login", "LogIn", "User")
                    @Html.ActionLink("Sign Up", "SignUp", "User")
                    @Html.ActionLink("My Cart", "Cart", "User")
                }
                else if (Model.blnAdmin == true)
                {
                    @Html.ActionLink("Add Product", "MyProducts", "User")
                    @Html.ActionLink("Email", "", "")
                    @Html.ActionLink("Data", "", "")
                    @Html.ActionLink("Log Out", "SignOut", "User")
                }
                else
                {
                    @Html.ActionLink("My Cart", "Cart", "User")
                    @Html.ActionLink("Profile", "MyProfile", "User")
                    @Html.ActionLink("Log Out", "SignOut", "User")
                }
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </div>

    <div id="work-space">
        @RenderBody()
    </div>
</body>
</html>
