@model MoxyTreasures.Models.CUser
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="middle">
    <h2>My Cart</h2>

    <div>

        @foreach (MoxyTreasures.Models.CProduct p in Model.Cart)
        {
            <div class="product-small center">
                @if (p.PrimaryImage != null)
                {
                    <a href="@Url.Action("ProductDetails", "Home", new { id = p.ProductID })">
                        <div><img class="thumbnail" src="@string.Concat("data:Image/", p.PrimaryImage.GetShortExtension, ";base64,", p.PrimaryImage.BytesBase64)" /></div>
                    </a>
                }
                <div class="center cut-text">@p.Title</div>
                <div class="center">@p.Price.ToString("$#,###.00")</div>
            </div>
        }
        @if (Model.CartSubTotal > 0)
        {
            <div class="Section">
                <div class="top">@Html.LabelFor(Model => Model.CartSubTotal)</div>
                <div>@Html.TextBoxFor(Model => Model.CartSubTotal, "{0:c}", new { @readonly = true, @class = "TextBoxAsLabel" })</div>
            </div>

            <input type="button" value="Continue" onclick="@("window.location.href='" + @Url.Action("Addresses", "User") + "'");" />

        }
        else
        {
            <p>There is nothing in your cart! Select Items to purchase from the home page</p>
        }
    </div>
</div>