@model MoxyTreasures.Models.CUser
@{
    ViewBag.Title = "SignUp";
}

@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
<div class="middle">
    <h2>Sign Up</h2>
    <p>To sign up for Moxy Treasures, enter your information below to create a profile.</p>
    <p><span style="color:red">*</span> = required field</p>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.FirstName)</div>
        <div>@Html.TextBoxFor(Model => Model.FirstName, new { @value = "fffff", @required = "required" })<span style="color:red">    *</span></div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.LastName)</div>
        <div>@Html.TextBoxFor(Model => Model.LastName, new { @value = "fffff", @required = "required" })<span style="color:red">    *</span></div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.intGenderID)</div>
        <div>@Html.DropDownListFor(Model => Model.intGenderID, new SelectList(Model.GenderList, "Value", "Text", Model.GenderList))</div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.dtmDateOfBirth)</div>
        <div>@Html.TextBoxFor(Model => Model.dtmDateOfBirth)</div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.EmailAddress)</div>
        <div>@Html.TextBoxFor(Model => Model.EmailAddress, new { @value = "fffff", @required = "required" })<span style="color:red">    *</span></div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.Password)</div>
        <div>@Html.TextBoxFor(Model => Model.Password, new { @value = "fffff", @required = "required" })<span style="color:red">    *</span></div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.strAddress)</div>
        <div>@Html.TextBoxFor(Model => Model.strAddress)</div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.strCity)</div>
        <div>@Html.TextBoxFor(Model => Model.strCity)</div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.intStateID)</div>
        <div>@Html.DropDownListFor(Model => Model.intStateID, new SelectList(Model.StatesList, "Value", "Text", Model.StatesList))</div>
    </div>

    <div class="Section">
        <div class="top">@Html.LabelFor(Model => Model.strZipCode)</div>
        <div>@Html.TextBoxFor(Model => Model.strZipCode)</div>
    </div>

    <div class="Section">
        <div class="top">Would you like to recieve emails regarding events or deals?</div>
        <div>@Html.CheckBoxFor(Model => Model.blnEmailList)</div>
    </div>

    @if (Model.ActionStatus != MoxyTreasures.Models.CUser.ActionStatusTypes.UserUpdated)
    {
        <div class="">
            <div class="label">&nbsp;</div>
            <div>
                <button id="btnSubmit" name="btnSubmit" value="signup" title="Click to sign-up!">Sign-up!</button>
            </div>
        </div>
    }
    @switch (Model.ActionStatus)
    {
        case MoxyTreasures.Models.CUser.ActionStatusTypes.UserUpdated:
            <div class="Section">
                <div>Sign-up successful</div>
            </div>
            break;
        case MoxyTreasures.Models.CUser.ActionStatusTypes.UserAlreadyExists:
            <div class="Section">
                <div>Email Address already used</div>
            </div>
            break;
    }
</div>
}
    
    <script>
        $(document).ready(function () {
            $("#FirstName").focus();
        });
    </script>
