
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle">
    <h2>Welcome to MoxyTreasures!</h2>
    <h3>Select a category to browse and sign in to purchase.</h3>  

    <a href="@Url.Action("Home", "Home", new { id = 0 })" class="category">
        <div>
            <img class="thumbnail" src="~/Content/Images/All.jpg" style="width:100%" />
            <div class="center" style="font-weight:bold; color:black">All</div>
        </div>
    </a>

    <a href="@Url.Action("Home", "Home", new { id = 4 })" class="category">
        <div>
            <img class="thumbnail" src="~/Content/Images/bracelet.jpg" style="width:100%" />
            <div class="center" style="font-weight:bold; color:black">Bracelets</div>
        </div>
    </a>

    <a href="@Url.Action("Home", "Home", new { id = 3 })" class="category">
        <div>
            <img class="thumbnail" src="~/Content/Images/earrings.jpg" style="width:100%" />
            <div class="center" style="font-weight:bold; color:black">Earrings</div>
        </div>
    </a>

    <a href="@Url.Action("Home", "Home", new { id = 2 })" class="category">
        <div>
            <img class="thumbnail" src="~/Content/Images/necklace.jpg" style="width:100%" />
            <div class="center" style="font-weight:bold; color:black">Necklaces</div>
        </div>
    </a>

    <a href="@Url.Action("Home", "Home", new { id = 1 })" class="category">
        <div>
            <img class="thumbnail" src="~/Content/Images/ring.jpg" style="width:100%" />
            <div class="center" style="font-weight:bold; color:black">Rings</div>
        </div>
    </a>

    <a href="@Url.Action("Home", "Home", new { id = 5 })" class="category">
        <div>
            <img class="thumbnail" src="~/Content/Images/shirt.jpg" style="width:100%" />
            <div class="center" style="font-weight:bold; color:black">Clothing</div>
        </div>
    </a>

</div>
